body{
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

* {
    margin: 0;
}

.left-box, .right-box {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex:1;
}

.left-box {
    background-color: aqua;
    padding-left: 3em;
    padding-right: 3em;
    flex: 1;
}

.right-box {
    background-color:rgb(212, 208, 208);
    flex: 3;
}

.skill-boxes {
    display: flex;
    text-align: center;
}

.skill-box-left, .skill-box-right {
    border-style: solid;
}

img{
    width: 100px;
    height: 200px;
}

p {
    font-size: 23px;
}

.left-box-header{
    font-family:;
}

