body{
    height: 100vh;
    display: flex;
}

* {
    border-style: solid;
    padding: 10px;
}

.left-box, .right-box {
    display: flex;
    flex-direction: column;
}

.skill-boxes {
    display: flex;
    flex: 1;
}

img{
    width: 100px;
    height: 200px;
}